/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
.idea/dataSources/781b60f9-73ad-4da6-a1e6-e8eaf602f619.xml
